@import url('https://fonts.cdnfonts.com/css/montserrat');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.not-outline:focus {
  outline: none
}

.anim-body {
  animation: anim .5s linear;
}

@keyframes anim {
  50% {
    background: rgba(25, 160, 216, 0.28);
  }
  100% {
    background: none;
  }
}
